<div class="user-header text-center">
  <div class="title-medium">
    <h3>Хэштег: <%= @hashtag.name %></h3>

    <div class="content-wrapper buffer-both">
      <div class="question-text text-lead">
        <% @questions.each do |question| %>
          <div class="questions-list">
            Вопрос задан пользователю <%= link_to question.user.username, user_path(question.user)%>:
          </div>

          <%= render partial: 'questions/question', object: question %>
       <% end %>
      </div>
    </div>
  </div>
</div>
